matplotlib
librosa==0.9.1
tqdm
pandas
numba==0.55.1
numpy==1.21.6
scipy==1.8.0
PyYAML==5.3.1
tensorboardX
pyloudnorm
setuptools>=41.0.0
g2p_en
resemblyzer
webrtcvad==2.0.10
tensorboard==2.6.0
scikit-learn==0.24.1
scikit-image==0.19.2
textgrid
jiwer
pycwt
PyWavelets
praat-parselmouth==0.4.1
jieba
einops
chardet